<!DOCTYPE HTML>
<html>
    <style>
        div.hot{color:blue;}
        div.new{color:red;}
    </style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>div标签</title>
</head>
<body>
    <div class = "hot"><h2>热门课程排行榜</h2>
        {% for k,v in user_dict.items() %}
        <ol>
            <li>{{k}}</li>
            <li>{{v.username}}</li>
            <li><a href="/levels/{{v.current_level}}">继续闯关 </a></li>
            <li>零基础学习html</li>
            <li>javascript全攻略</li>
        </ol>
        {% endfor %}
    </div>
    <div class = "new">
    <h2>最新课程排行</h2>
    <ol>
        <li>版本管理工具介绍—Git篇 </li>
        <li>Canvas绘图详解</li>
        <li>QQ5.0侧滑菜单</li>
    </ol>
    </div>
</body>
</html>